.leftside-details > *{
    margin: 0px;
    padding: 0px;
}


.leftside-details .dev1{
    font-size: 50px;
    color:  #FF7200;
    
}

.leftside-details p{
    font-size: 20px;
    letter-spacing:1px; 
     word-spacing: 1.1; 
    line-height: 1.7;  
}

.leftside-details h1{
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 1.1;
    margin-bottom: 10px;
}

.leftside-details button{
    margin-top: 25px;
    font-size: 20px;
border: 2px solid transparent;
padding: 7px 70px;
color: black;

background-color: #FF7200;
border-radius: 16px;

}